@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');

/* CSS Base de la página */

body {
    font-family: 'Rosario', sans-serif;
    background-image: url(img/preview.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%; 
}

h3{
    margin-top: 5%;
    color: rgb(46, 46, 46);
    font-size: 25px;
}

h2 {
    font-size: 40px;
    margin-left: 5%;
    clear: both;
    flex: none;
}

main {
    display: flex;
    flex-flow: column;
    text-align: center;
    height: 50%;
    width: 50%;
    margin: auto;
    padding-top: 1%;
    margin-top: 5%;
    border-top: 5px rgb(0, 0, 0) solid;
    border-radius:100px;
    background-color: rgba(255, 255, 255, 0.692);
}

hr {
    color:rgb(255, 75, 165);
}

p, li {
    font-size: 17px;
}

section {
    
    margin: auto;
    height: 70%;
    width: 70%;
}

/* CSS De contenido específico de la página */

header p.dialog-1 {
    position: absolute;
    margin-top: -2%;
    margin-left: 30%;
}

header p.dialog-2 {
    position: absolute;
    margin-top: -2%;
    margin-left: 35%;
}

input[type=button].cerrar {
margin-left: 45%;
}

input[type=button] {
    border: 2px rgb(225, 0, 255) solid;
    border-radius: 10px 10px 10px 10px;
    background-color:rgb(255, 0, 255);
    font-size: 120%;
    color: white;
}

input[type=button]:hover {
    border: 2px rgb(225, 0, 255) solid;
    border-radius: 10px 10px 10px 10px;
    background-color:rgb(255, 255, 255);
    font-size: 120%;
    color: rgb(0, 0, 0);
}


section.header p {
    font-size: 15px;
    margin-top: -1%;
    margin-bottom: 5%;
    color: rgb(46, 46, 46);
}



section hr {
    width:50%;
}

section.header hr {
    width:100%;
}


p.Profile img {
    border: black solid 3px;
    border-radius: 50% 50% 50% 50% ;
    width: 160px;
    height: 160px;
    flex: none;
}


h3.title {
    color: rgb(46, 46, 46);
    font-size: 25px;
    margin-top: -3%;
}


span.destaca {
    font-weight:bolder;
    color: rgb(212, 41, 127);
}

